
<input type="hidden" readonly [(ngModel)]="domain">
<input type="hidden" readonly [(ngModel)]="code">
<div class="thisBody">
        <h3>Backup-Mastodon-To-Mail Subscription</h3>
        <hr>
        <b for="domain">E-Mail Address</b>
        <div class="input-group mb-3">
            <input id="email" type="text" [(ngModel)]="email"
             class="form-control" placeholder="mail@example.com" aria-label="mail@example.com"
                aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-primary submit-button" (click)="onSubmit()" [disabled]="buttonDisabled">Submit</button>
    </div>