<div class="thisBody">
    <h3>Backup-Mastodon-To-Mail Subscription</h3>
    <hr>
    <b for="domain">Mastodon Domain</b>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">https://</span>
        </div>
        <input id="domain" type="text" [(ngModel)]="domain"
         class="form-control" placeholder="mastodon.social" aria-label="mastodon.social"
            aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-primary submit-button" [disabled]="buttonDisabled" (click)="onSubmit()">Submit</button>
    <hr>
    <h5>What is it?</h5>
    <p>Once you registed to this sbuscription, you will recieve your following.csv daily though E-Mail.</p>
    <h5>How to unscription?</h5>
    <div>Mailing to lenchan139@tto.moe with information:
        <ul>
            <li>Your Mastodon Account(e.g.: @lenchan139@mastodon.tto.moe)</li>
            <li>E-Mail Address of registered this subscription</li>
        </ul>
    </div>
</div>